
.main-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #CCEAF4;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 170px;
    inline-size: 100%;
}

.profile {
    display: flex;
    flex-direction: row;
}

.photo {
    border-radius: 100%;
    margin: 5px;
}

.main-info {
    align-self: center;
    width: 100%;
    padding-left: .5%;
    background-color: #CCEAF4;
    color: #232323;
}

.name {
    background-color: #CCEAF4;
}

.job {
    background-color: #CCEAF4;
}

.selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 200px;
    justify-self: end;
}
/*
.ukFlag {

}

.esFlag {

}
*/